extends ./../partials/header
block main
  .all-content-main-wrapper
    span.all-content-header Hesabınız henüz onaylanmadı :(
    span.all-content-text Hesabınız okul yöneticiniz tarafından onaylandığı zaman hesabınız otomatik olarak açılacak ve mail yoluyla bilgilendirileceksiniz.
