extends ./../partials/head
block content
  .all-wrapper
    .all-bar-wrapper
      span.all-bar-title Admin Sayfası
      a.all-bar-item-wrapper(href="/admin/applications")
        span.all-bar-item Başvurular
      a.all-bar-item-wrapper(href="/admin/schools")
        span.all-bar-item Okullar
    .all-content-wrapper
      block main
