extends ./../partials/head
block content
  if includes.external.indexOf('school') > -1
    .all-wrapper
      .all-header
        .header-user-wrapper
          .header-logo-wrapper
            img.header-logo(src=school.profilePhoto)
          span.header-user-name= school.name
          span.header-user-explanation Yönetici Paneli
        .header-bar
          a(href="/school/dashboard" class = (active == "dashboard") ? "header-bar-each-selected" : "").header-bar-each
            i.fas.fa-home
            span Ana Sayfa
          a(href="/school/applications" class = (active == "applications") ? "header-bar-each-selected" : "").header-bar-each
            i.fas.fa-inbox
            span Başvurular
          a(href="/school/students" class = (active == "users") ? "header-bar-each-selected" : "").header-bar-each
            i.fas.fa-user
            span Kayıtlı Öğrenciler
          a(href="/school/clubs" class = (active == "clubs") ? "header-bar-each-selected" : "").header-bar-each
            i.fas.fa-clipboard-list
            span Kulüp Listesi
          a(href="/school/dashboard" class = (active == "settings") ? "header-bar-each-selected" : "").header-bar-each
            i.fas.fa-cog
            span Ayarlar
        .copyright-wrapper
          span Copyright 2020 - Yunus Gürlek 
      .all-content
        block main
  else
    .all-wrapper
      .all-header
        a.main-logo(href="/")
          span Act'IN
          span School
        .header-bar
          a(href="/schools/dashboard").header-bar-each.dashboard-bar
            span Okul Sayfası
          a(href="/schools/users").header-bar-each
            span Öğrenciler
          a(href="/schools/applications").header-bar-each.applications-bar
            span Başvurular
      .all-content
        block main
