extends ./../partials/head
block content
  .all-wrapper
    .all-header
      a.header-bar-each(href="/aboutus")
        span Hakkımızda
      a.header-bar-each(href="/contact")
        span İletişim
      a.header-bar-each(href="/auth/school/register")
        span Başvur
      a.header-bar-each(href="/auth/school/login")
        span Admin Girişi
      a.header-bar-each(href="/auth/login")
        span Giriş
    
    .all-content
      block main
