* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: "Source Sans Pro";
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
	background: rgb(253, 253, 253);
	background-size: cover;
}
body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}

.all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}
.display-none {
  display: none;
}

.all-header {
  flex: 1;
  background-color: rgb(191, 183, 182);
  display: flex;
  flex-direction: column;
}

.header-user-wrapper {
  padding: 20px;
  padding-bottom: 60px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
}
.header-logo-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.header-logo {
  height: 100%;
}
.header-user-name {
  color: rgb(67, 80, 88);
  font-size: 125%;
  font-weight: 600;
  margin-top: 20px;
}
.header-user-explanation {
  color: rgb(67, 80, 88);
  font-size: 100%;
  font-weight: 400;
}

.header-bar {
  display: flex;
  flex-direction: column;
}
.header-bar-each {
  width: auto;
  text-decoration: none;
  color: rgb(67, 80, 88);
  font-size: 100%;
  font-weight: 700;
  padding: 20px 0%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.header-bar-each i {
  font-size: 125%;
}
.header-bar-each span {
  margin-left: 10px;
}
.header-bar-each-selected {
  background-color: rgb(106, 93, 123);
  color: rgb(241, 242, 238);
}
.header-bar-each:hover {
  background-color: rgb(106, 93, 123);
  color: rgb(241, 242, 238);
}

.copyright-wrapper {
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  color: rgb(67, 80, 88);
  font-size: 100%;
  font-weight: 600;
}

.all-content {
  flex: 4;
  background-color: rgb(241, 242, 238);
}
