* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: "Source Sans Pro";
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
	background: rgb(253, 253, 253);
	background-size: cover;
}
body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}

.all-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.display-none {
  display: none;
}

.all-header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 0% 40px;
  position: absolute;
  z-index: 2;
}

.header-bar-each {
  text-decoration: none;
  margin-right: 20px;
  color: #276FBF;
  font-size: 125%;
  font-weight: 600;
}
.header-bar-each:hover {
  color: #183059;
}

.all-content {
  background-color: rgb(246, 244, 243);
  width: 100vw;
  height: 100vh;
}

/* 
background color: rgb(250, 253, 246)
header color: rgb(94, 80, 63)

*/
