extends ./../../partials/header
block main
  .all-content-main-wrapper
    span.all-content-header Başvurunuz İşleme Alındı
    span.all-content-text Başvurunuz iki gün içerisinde ekibimiz tarafından incelenecektir. Başvurunuz onaylandığı zaman mail yoluyla bilgilendirileceksiniz.
