.all-content {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-button {
  text-decoration: none;
  padding: 25px;
  background-color: rgb(240, 58, 71);
  color: white;
  font-size: 200%;
  font-weight: 600;
  border-radius: 25px;
}
.register-button:hover {
  box-shadow: 3px 3px 3px rgba(240, 58, 71, 0.3);
}
