.all-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.content-title {
  color: rgb(67, 80, 88);
  font-size: 175%;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 20px;
}
.content-info {
  color: rgb(67, 80, 88);
  font-size: 125%;
  font-weight: 300;
  margin-bottom: 30px;
  margin-left: 20px;
}

.students-search-wrapper {
  margin-bottom: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.students-search-wrapper i {
  color: rgba(67, 80, 88, 0.5);
  font-size: 100%;
  margin-right: 5px;
}
.search-input {
  font-size: 100%;
  color: rgb(67, 80, 88);
  border: none;
  background-color: transparent;
  flex: 1;
  outline: none;
}

.no-student-text {
  color: rgb(67, 80, 88);
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.selected-button {
  background-color: rgba(106, 93, 123);
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-button:hover {
  background-color: rgb(106, 93, 123) !important;
}
.selected-student {
  background-color: rgba(191, 183, 182, 0.5) !important;
  border-color: rgb(106, 93, 123) !important;
}

.students-header {
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: rgb(191, 183, 182);
  border-radius: 10px;
  border: 2px solid rgb(106, 93, 123);
}
.students-header-select-button {
  height: 25px;
  width: 25px;
  border: 2px solid rgb(106, 93, 123);
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.students-header-select-button-empty {
  height: 25px;
  width: 25px;
  border: 2px solid rgb(106, 93, 123);
  margin: 20px;
  cursor: not-allowed;
  border-radius: 5px;
}
.students-header-number {
  padding-right: 20px;
  border-right: 2px solid rgb(106, 93, 123);
  color: rgb(67, 80, 88);
  font-weight: 600;
  font-size: 125%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}
.students-header-name {
  padding: 0px 20px;
  border-right: 2px solid rgb(106, 93, 123);
  color: rgb(67, 80, 88);
  font-weight: 600;
  font-size: 125%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  text-align: center;
}
.students-header-email {
  padding: 0px 20px;
  border-right: 2px solid rgb(106, 93, 123);
  color: rgb(67, 80, 88);
  font-weight: 600;
  font-size: 125%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  text-align: center;
}
.students-header-createdat {
  padding: 0px 20px;
  color: rgb(67, 80, 88);
  font-weight: 600;
  font-size: 125%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  text-align: center;
}
.students-header-buttons-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
}
.buttons-inner-wrapper {
  display: flex;
  align-items: center;
}
.selected-number {
  color: rgb(67, 80, 88);
  font-weight: 600;
}
.delete-button {
  color: rgba(106, 93, 123, 0.5);
  font-size: 100%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.delete-button:hover {
  background-color: rgba(106, 93, 123, 0.3);
}

.students-wrapper {
  padding: 0px 20px;
  margin-bottom: 20px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-student-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  border: 2px solid rgb(191, 183, 182);
  padding-right: 20px;
  margin-bottom: 5px;
}
.select-student-button {
  height: 25px;
  width: 25px;
  border: 2px solid rgb(191, 183, 182);
  margin: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.select-student-button:hover {
  background-color: rgba(106, 93, 123, 0.3);
}
.select-student-button-check {
  display: none;
  color: rgb(250, 250, 250);
  font-size: 75%;
}
.student-number {
  padding-right: 20px;
  color: rgb(67, 80, 88);
  font-weight: 300;
  font-size: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  text-align: center;
}
.student-name {
  padding: 0px 20px;
  color: rgb(67, 80, 88);
  font-weight: 300;
  font-size: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  overflow: hidden;
  text-align: center;
}
.student-email {
  padding: 0px 20px;
  color: rgb(67, 80, 88);
  font-weight: 300;
  font-size: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  overflow: hidden;
  text-align: center;
}
.student-createdat {
  padding: 0px 20px;
  color: rgb(67, 80, 88);
  font-weight: 300;
  font-size: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  overflow: hidden;
  text-align: center;
}
.buttons-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
